*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    height: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;

}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
    hyphens: auto;
}


.scene {
    width: 100%;
    height: 700px;
    perspective: 1600px;
    position: relative;
    background-color: rgba(255, 255, 0, 0.185);
    margin: 0 auto;
    overflow: hidden;
}

.swipable-container {
    /* background-color: aliceblue; */
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    margin-left: calc(50% - 150px);
}

.swipable {
    /* display: block; */
    width: 300px;
    height: 500px;
    position: absolute;
    border: 2px solid black;
    background-color: rgba(235, 80, 127, 0.233);
    outline: 1px solid transparent;
}
