@font-face {
  font-family: Inter;
  src: url(/static/fonts/Inter/static/Inter-Bold.ttf);
}


body {
  background-color: #111111;
  background-color: #0C2963;
  font-family: Inter;
}

.opponents {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: 4px;
}

aini-opponent {
  margin-top: 12px;
  padding-left: 12px;
  padding-right: 12px;
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  user-select: none;
  /* border: 1px solid red; */
}

aini-opponent .name {
  text-align: center;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 13px;
}

aini-opponent .count {
  background-color: #000000aa;
  text-align: center;
  width: fit-content;
  padding: 17px 0;
  width: 42px;

  border: 2px solid #ffffff22;
  border-radius: 6px;
  font-weight: bold;
  content: "32";

  cursor: pointer;
}

aini-opponent[count="1"] .count {
  color: red
}

aini-opponent[count="2"] .count {
  color: yellow
}

aini-card {
  position: absolute;
  top: 0;
  left: 0;
  width: 120px;
  height: 180px;

  margin-left: -60px;
  margin-top: -90px;

  border-radius: 8px;
  background-color: white;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.253);

  color: black;
  font-size: 105px;
  text-align: center;

  transform: translate(50vw, 50vh) scale(1.2) rotate(0deg);

  user-select: none;

  display: flex;
}


aini-card .number {
  color: white;
  text-shadow: -2px 2px var(--dark), -2px -2px var(--dark), 2px -2px var(--dark), 2px 2px var(--dark);
}


aini-card>div {
  border-radius: 8px;
  /* border: 0px solid var(--dark)  ; */
  background-color: var(--light);

  margin: 6px;
  flex-grow: 1;

  display: flex;
align-items: center;
justify-content: center;
}

:root {
  --red-light: #ED2121;
  --red-dark: #AD0A0A;
  --green-light: #00FF38;
  --green-dark: #00C32B;
  --blue-light: #169DFF;
  --blue-dark: #0668AF;
  --yellow-light: #FFE600;
  --yellow-dark: #F3BE00;
}

aini-card[color="red"]>div {
  --light: var(--red-light);
  --dark: var(--red-dark);
}

aini-card[color="green"]>div {
  --light: var(--green-light);
  --dark: var(--green-dark);

}

aini-card[color="blue"]>div {
  --light: var(--blue-light);
  --dark: var(--blue-dark);

}

aini-card[color="yellow"]>div {
  --light: var(--yellow-light);
  --dark: var(--yellow-dark);
}

aini-card[wish="true"] > div {
  background-image: radial-gradient(white 00%, #fff0 80%), conic-gradient(var(--red-light), var(--blue-light), var(--green-light), var(--yellow-light), var(--red-light))
}

aini-card[wish="true"] .number {
  display: none;
  --dark: #0C296388;

}

aini-card[to_take="2"] .number,
aini-card[to_take="3"] .number,
aini-card[to_take="4"] .number{
  font-size: 60px;
  margin-left: -8px;
  display: initial !important;
}


/* aini-card[to_take="2"] .number::before {
  font-size: 50px;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='100' cy='50' r='40' stroke='black' stroke-width='2' fill='red'/%3E%3Cpolyline points='20,20 40,25 60,40 80,120 120,140 200,180' style='fill:none;stroke:black;stroke-width:3'/%3E%3C/svg%3E ");
} */
